* { 
  margin: 0; padding: 0; box-sizing: border-box; 
}

body { 
  font: 13px Helvetica, Arial; 
}

button {
  cursor: pointer;
}

form { 
  background: steelblue; 
  padding: 3px; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}

form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }

form button { 
  width: 9%; background: white; color: darkslategray; border: none; padding: 10px; 
}

#messages { 
  list-style-type: none; margin: 0; padding: 0; 
}

#messages li { 
  padding: 5px 10px; 
}    

#login-div {
  display: flex;
  flex-direction: column;
  width: 100%;  
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
  width: auto;
}

.login > button {
  width: auto;
}

#chat-div {
  display: none;
  flex-direction: row;
}

aside {
  width: 20%;
  box-shadow: 1px 1px 1px grey;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  padding-left: 10px;
  color: gray;
}

aside > h2 {
  padding-bottom: 10px;
  text-decoration: underline;
}

label {
  color: white;
}

.typing-notification {
  background: white;
  color: gray;
  font-style: italic;
}